.closeButton {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
}

.closeRow {
  margin-bottom: 2rem;
}

.dialog {
  background-color: #000;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  padding: 1rem;
  width: 100%;
}
.dialog::backdrop {
  filter: brightness(30%);
}

.dialogLink {
  background-color: transparent;
  border: none;
  color: #fff;
  display: block;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}
.dialogLink:hover {
  color: yellow;
}

.links {
  align-items: center;
  display: none;
  gap: 1rem;
}

.link {
  font-size: 1.2rem;
  font-weight: 600;
}
.link:hover {
  color: yellow;
}

.menuButton {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

@media (min-width: 500px) {
  .links {
    display: flex;
  }

  .menuButton {
    display: none;
  }
}
