.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
}

.text {
  align-items: center;
  color: #fff;
  display: flex;
  flex: 1 1 auto;
  font-size: 10vmin;
  text-align: center;
}
