.closeButton {
  background: none;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 1.25rem;
}
.closeButton:hover {
  color: yellow;
}

.closeRow {
  margin-bottom: 0.5rem;
}

.modal {
  animation: 200ms linear normal zoom;
  background-color: #111;
  margin: auto;
  max-width: 600px;
  padding: 1.5rem;
  width: 100%;
}
.modal::backdrop {
  backdrop-filter: blur(5px);
}

@keyframes zoom {
  from { transform: scale(96%); }
  to { transform: scale(100%); }
}
