.container {
  align-items: center;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 1.2rem;
  font-weight: 600;
}
.link:hover {
  color: var(--accent);
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
}

.logoRanks {
  color: var(--accent);
}

.nav {
  align-items: center;
  display: flex;
  gap: 1rem;
}
